#title {
    background-image: linear-gradient(
        2deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 70%
      );
      background-size: 200% auto;
      color: #fff;

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}